.textDiff {
    border: 1px solid var(--border);
    border-top: none;
    font: 14px/1.5 monospace;

    overflow: auto;
    max-height: 20lh;

    transition: max-height 0.2s ease;

    border-radius: 8px;

    color: var(--code-fg);
    background: var(--code-bg);

    & .hunk {
        background-color: var(--secondary-bg);
        color: var(--text);
        padding-left: 8px;
    }

    /* space + 99999 + space + sign */
    &.has-lines .no { width: 8ch; }

    & .no {
        width: 3ch;
        text-align: right;
        flex-shrink: 0;
        user-select: none;
    }

    & .line {
        display: flex;

        & .text {
            font-family: var(--code-font);
        }

        &.add {
            background: var(--ok-bg);
            & .no { color: var(--ok); }
        }
        &.del {
            background: var(--error-bg);
            & .no { color: var(--error); }
        }
    }
}